@model WebShopDemo.Models.Order.OrderConfirmVM

<form asp-controller="Order" asp-action="Create" method="get">
    <div class="d-flex align-items-center">
<<<<<<< HEAD
        <label class="font-weight-bold text-left mr-1" asp-for="Quantity">Quantity:</label>
=======
        <label class="font-weight-boldm text-left mr-1" asp-for="Quantity">Quantity:</label>
>>>>>>> ae7627cbbfd20722d2bcef569ae59baf0c0820e5
        <div class="mr-1">
            <input class="form-control" min="1" asp-for="Quantity" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-danger">Order</button>
    </div>
<<<<<<< HEAD
    <input type="hidden" asp-for="ProductId" value="@Model.ProductId">
=======
    <input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
>>>>>>> ae7627cbbfd20722d2bcef569ae59baf0c0820e5
</form>
