@{
ViewData["Title"] = "Success";
}

<h1> You successfully remove a product!</h1>
<div>
    <a asp-action="Create">Create new laptop</a>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>
